extends layout

block content
  h1= title
  article
    p Listicle art party selvage, vegan narwhal shabby chic lumbersexual. Jean shorts listicle Odd Future, post-ironic keytar narwhal vegan swag artisan polaroid selvage. Tilde direct trade flexitarian Austin yr authentic, distillery drinking vinegar Schlitz sustainable Pitchfork. Organic four dollar toast fixie, sustainable narwhal lumbersexual Thundercats Bushwick iPhone sriracha Etsy VHS 90's. Fingerstache cliche viral biodiesel, sustainable shabby chic Portland pickled twee raw denim trust fund artisan. Occupy Wes Anderson wayfarers fixie. PBR leggings messenger bag Pitchfork, tote bag Godard mixtape banh mi mustache Thundercats mlkshk Pinterest keffiyeh.